# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          docker rmi `docker images -q`
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler antlr3 gperf swig libtinfo5
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          wget https://www.uupdump.net/get.php?id=43179438-8021-401a-9fff-2f85f35aa946&pack=zh-cn&edition=professional
          sudo apt-get install aria2 cabextract wimtools chntpw genisoimage
          unzip *.zip
          df -h
          sudo bash uup_download_linux.sh

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          ls -h
          mkdir latest
          mv *.ISO Windows10-Dev-latest.ISO
      
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: windows10 msater
          path: ./
          
      - uses: majkrzak/create-release@master
        with:
            token: ${{secrets.RELEASES_TOKEN}}
            name: windows10 msater
            code: latest
            prerelease: true
            assets: >
                    Windows10-Dev-latest.ISO:Windows10-Dev-latest.ISO
      


